<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ministeren.par3000" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LinksLayout" >
        </activity>
        <activity android:name=".HoleOne" >
        </activity>
        <activity android:name=".HoleTwo" >
        </activity>
        <activity android:name=".HoleThree" >
        </activity>
        <activity android:name=".HoleFour" >
        </activity>
        <activity android:name=".HoleFive" >
        </activity>
        <activity android:name=".HoleSix" >
        </activity>
        <activity android:name=".HoleSeven" >
        </activity>
        <activity android:name=".HoleEight" >
        </activity>
        <activity android:name=".HoleNine" >
        </activity>
    </application>

</manifest>
